<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="empleadoForm">
        <div class="row mt-2">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">BRM(Buscar)*</label>
              <input formControlName="brm" type="text" class="form-control" placeholder="BRM">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleSelectRounded0">Puesto*</label>
              <select formControlName="puesto" class="form-select">
                <option value="Desarrollador FrontEnd">Desarrollador FrontEnd</option>
                <option value="Desarrollador IOS">Desarrollador IOS</option>
                <option value="Desarrollador BackEnd">Desarrollador BackEnd</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre*</label>
              <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupFile01">Foto</label>
              <!--<input formControlName="foto" (change)="convertirBase64($event)" type="file" class="form-control"
                id="inputGroupFile01">-->
                <input formControlName="foto" type="file" class="form-control"
                id="inputGroupFile01">
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-grid gap-2">
              <button class="btn btn-success" [disabled]="empleadoForm.invalid" type="submit">{{btnMensaje}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <small>* Campos obligatorios</small>
  </div>
  <div class="col-md-1"></div>
</div>
<hr>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div *ngIf="mostrarAviso" class="alert alert-success text-center" role="alert">
      {{mensajeAviso}}
    </div>
    <h3 class="text-center">Empleados</h3>
    <br>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">BRM</th>
          <th scope="col">Nombre</th>
          <th scope="col">Foto del empleado</th>
          <th scope="col">Puesto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of empleados">
          <th scope="row">{{item.brm}}</th>
          <td>{{item.nombre}}</td>
          <td>{{item.foto}}</td>
          <td>{{item.puesto}}</td>
          <td>
            <button (click)="eliminar(item.id)" class="btn btn-danger">Borrar</button>&nbsp;
            <button (click)="editar(item)"class="btn btn-success">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>